#NGC 1

Nama  : Monicha

Batch : FTDS RMT 029

1. How many unique customer_id from the list?

In [1]:
# customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

In [2]:
customer_id ={'B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092'}

In [3]:
len(customer_id)

12

jumlah unik customer_id adalah 12

2. Use indexing so you can get this output:

   a.16

   b.[36, 49, 64, 81]

   c.[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [26]:
Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

#a
print(Data[3])

#b
print(Data[5:9])

#c

Data[0:10] = [100,81,64,49,36,25,16,9,4,1]
print(Data)

16
[36, 49, 64, 81]
[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

3. what python command can be use to:

   a.Get list of keys available in dictionary

   b.Change 'Jawa Timur' value from 'Madiun'  to 'Surabaya'6

In [50]:
provinsi = {"Nanggroe Aceh Darussalam": "Aceh",
            "Sumatera Selatan": "Palembang",
            "Kalimantan Barat": "Pontianak",
            "Jawa Timur": "Madiun",
            "Sulawesi Selatan": "Makassar",
            "Maluku": "Ambon"}

#3a. Key of available
provinsi["Nanggroe Aceh Darussalam"], provinsi ["Sumatera Selatan"], provinsi ["Kalimantan Barat"]

('Aceh', 'Palembang', 'Pontianak')

In [52]:
#3b. change value Jawa Timur from Madiun to Surabaya

provinsi["Jawa Timur"] = "Surabaya"
print (provinsi)

{'Nanggroe Aceh Darussalam': 'Aceh', 'Sumatera Selatan': 'Palembang', 'Kalimantan Barat': 'Pontianak', 'Jawa Timur': 'Surabaya', 'Sulawesi Selatan': 'Makassar', 'Maluku': 'Ambon'}